alembic==1.16.4
APScheduler==3.11.0
click==8.2.1
fastapi==0.115.12
firebase_admin==7.1.0
google-api-core==2.25.1
google-auth==2.40.3
google-cloud-core==2.4.3
google-cloud-firestore==2.21.0
google-cloud-storage==3.2.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
openai==1.107.3
psycopg2-binary
pycparser==2.22
pydantic==2.11.5
pydantic_core==2.33.2
PyJWT==2.10.1
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-jose==3.5.0
python-multipart==0.0.20
python-slugify==8.0.4
reportlab==4.4.3
requests==2.32.4
SQLAlchemy==2.0.41
sqlitecloud==0.0.84
sqlparse==0.5.3
uvicorn[standard]==0.34.3
uvloop==0.21.0

